*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.right{
    width: 30%;
    height: 100vh; 
    float: left;
    
}
.fixed{
    height: 100%;
    position: fixed;
    margin-top: 100px;
}
.container-right{
    
    padding: 10px;
    border:1px solid #ddd;
    margin-left: 10px;
    background-color: #FFFFFF;
    border-radius: 3px;
}
h2{
    font-size: 18px;
    font-weight: lighter;
    color:rgba(0,0,0,.9);
}
ul{
    padding:5px;

}
li{
    list-style: none;
    padding: 5px 0;
}
span.bullet{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 12px;
    border: 4px solid var(--blue-50,#33aada);
}
a{
    text-decoration: none;
    color: #111;
    width: 100%;
}
span.ref{
    width: 100%;
    font-size: 12px;
    color: rgba(0,0,0,.7);
    display: block;
    margin-left: 20px;
    margin-right: 8px;
}

li:hover{
    background-color: #CCC;
}
a:hover{
    color: #4B84BF;
    text-decoration: underline;

}
.container-right img{
    width: 100%;
    height: 100%;
}
#propaganda{
    margin-top: 10px;
}