*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #283E4A;
    padding: 5px 0;
    height: 55px;
    margin-bottom: 60px;
}
.logo-form{
    float: left;
    margin-top: 5px;
}
form#form-header input{
    width: 300px;
    float: left;
    margin-left: 15px;
    height: 35px;
    margin-top: 5px;
    background-color: #E1E9EE;
    border: 0;
    padding: 0 10px;
    border-radius: 3px;
}
div.elementos{
    width: 400px;
    float: left;
    margin-left: 120px;
}
div.elementos a{
    width: 60px;
    float: left;
    margin-left: 15px;
    margin-top: 8px;
    background: transparent;
    color: #e1e9ee;
    font-size: 12px;
    margin-top: 4px;
    text-decoration: none;
}
div.elementos a p{
    padding-top: 5px;
    text-align: center;
}
div.elementos a img{
        color: #fff;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
}
.branco{
    color: #fff;
}
.imagem-header{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.imagem-header img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid white;
}
#user{
float: left;
margin-top: 25px;
margin-left: -20px;
color: white;
}